:root {
    font-size: 10px;
    --grey-text: #828282;
    --black-text: #111;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", Arial, sans-serif;
    min-height: 100vh;
    margin: 0px;
    overflow-x: hidden;
}

a {
    display: inline-block;
    text-decoration: none;
    color:inherit;
}

a:hover {
  text-decoration: none;
  color: #d63031;
}

.container {
    max-width: 138rem;
    margin: 0 auto;
    padding: 0 2vw;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 10;
}

.btn:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 1.2rem;
    height: 1.2rem;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0.5rem;
    border: 0.2rem solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}

/* Masthead */

.masthead {
    display: flex;
    flex-basis: 5.6rem;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 0 2.2rem;
    box-shadow: 0 0.2rem 0.2rem rgba(17, 17, 17, 0.2);
    z-index: 1;
}

.logo {
    flex: 0 0 15rem;
    margin-left: 2.5rem;
}

.site-search {
    flex-grow: 1;
    margin: 0 2.5rem;
    transform: translateX(25%);
}

.menu-btn {
    font-size: 2rem;
    color: #888;
    padding: 0 0.5rem;
    outline: none;
}

.logo h1 {
    font-family: "Oswald", Arial, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: -0.12rem;
    color: #282828;
    white-space: nowrap;
    cursor: pointer;
}

.logo-icon {
    color: #d63031;
    padding-right: 0.5rem;
}

.site-search {
    display: flex;
    height: 3.2rem;
}

.search-input,
.search-btn {
    border: 0.1rem solid #ccc;
}

.search-input {
    flex-basis: 60rem;
    font-size: 1.5rem;
    font-weight: 500;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border-right: none;
    padding-left: 1rem;
    color: var(--black-text);
}

.search-input::-webkit-input-placeholder {
    color: var(--grey-text);
}

.search-input:-ms-input-placeholder {
    color: var(--grey-text);
}

.search-input::-ms-input-placeholder {
    color: var(--grey-text);
}

.search-input::placeholder {
    color: var(--grey-text);
}

.search-btn {
    flex: 0 0 6.5rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    background-color: #f8f8f8;
    color: var(--black-text);
    cursor: pointer;
}

.search-btn:hover {
    background-color: #f0f0f0;
}

.user-menu {
    flex-basis: 16rem;
    display: flex;
    font-size: 1.6rem;
    color: var(--grey-text);
}

.user-menu .btn {
    flex: 0 0 4rem;
    font-size: 2rem;
}

.main {
    margin: 0;
    display: flex;
}

.main .left-navbar {
    position: fixed;
    top:5%;
    left: 0;
    width: 15%;
    height: 100vh;
    overflow: scroll;
}

.left-navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 200;
}

.left-navbar ul .fas {
    font-size: 2rem;
    width: 20px;
    margin-right: 30px;
    color: #666;
}
.left-navbar .menu .menu-item .fa-home {
    color: #d63031;
}

.left-navbar ul li {
   padding: 15px 15px 15px 25px;
   cursor: pointer;
}

.left-navbar ul li:hover,
.left-navbar ul li .active {
    background-color: #f1f1f1;
}

.left-navbar .menu {
    border-bottom: 1px solid rgba(34, 7, 57, .2);
}

.main .content {
    flex-basis: 85%;
    margin-left: 15%;
    background-color:#f9f9f9;
    overflow-y: scroll;
    padding: 20px;
}

.user-menu .popup {
    position: fixed;
    top: 5.7%;
    right: 1%;
    width: 10%;
    background-color: white;
    border: 1px solid  rgba(34, 7, 57, .2);
    transition: all .3s linear;
}

.user-menu .popup ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-menu .popup ul li {
    padding: 15px 15px 15px 25px;
    border-bottom: 1px solid rgba(34, 7, 57, .2);
}

.user-menu .popup ul li:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.popup .fas {
    margin-right: 35px;
    width: 10px;
    color: #d63031;
}

.hide {
   transform: translateY(-150%);
   opacity: 0;
}

.popup a {
    display: block; 
    text-decoration: none;
}

.popup a:hover {
    text-decoration: none;
}



/* upload */

.upload {
  position: relative;
  width: 400px;
  min-height: 445px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  background: #fff;
  -webkit-animation: fadeup .5s .5s ease both;
          animation: fadeup .5s .5s ease both;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
}
.upload .upload-files header {
  background: #d63031;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}
.upload .upload-files header p {
  color: #fff;
  font-size: 40px;
  margin: 0;
  padding: 50px 0;
}
.upload .upload-files header p i {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
  font-size: 30px;
  -webkit-animation: fadeup .5s 1s ease both;
          animation: fadeup .5s 1s ease both;
}
.upload .upload-files header p .up {
  font-weight: bold;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  display: inline-block;
  opacity: 0;
  -webkit-animation: faderight .5s 1.5s ease both;
          animation: faderight .5s 1.5s ease both;
}
.upload .upload-files header p .load {
  display: inline-block;
  font-weight: 100;
  margin-left: -8px;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
  -webkit-animation: faderight 1s 1.5s ease both;
          animation: faderight 1s 1.5s ease both;
}
.upload .upload-files .body {
  text-align: center;
  padding: 50px 0;
  padding-bottom: 30px;
}
.upload .upload-files .body.hidden {
  display: none;
}
.upload .upload-files .body input {
  visibility: hidden;
}
.upload .upload-files .body i {
  font-size: 65px;
  color: lightgray;
}
.upload .upload-files .body p {
  font-size: 14px;
  padding-top: 15px;
  line-height: 1.4;
}
.upload .upload-files .body p b,
.upload .upload-files .body p a {
  color: #d63031;
}
.upload .upload-files .body.active {
  border: dashed 2px #4db6ac;
}
.upload .upload-files .body.active i {
  box-shadow: 0 0 0 -3px #fff, 0 0 0 lightgray, 0 0 0 -3px #fff, 0 0 0 lightgray;
  -webkit-animation: file .5s ease both;
          animation: file .5s ease both;
}
@-webkit-keyframes file {
  50% {
    box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -8px 8px 0 -3px #fff, -8px 8px 0 lightgray;
  }
  75%,
          100% {
    box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -16px 16px 0 -3px #fff, -16px 16px 0 lightgray;
  }
}
@keyframes file {
  50% {
    box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -8px 8px 0 -3px #fff, -8px 8px 0 lightgray;
  }
  75%,
          100% {
    box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -16px 16px 0 -3px #fff, -16px 16px 0 lightgray;
  }
}
.upload .upload-files .body.active .pointer-none {
  pointer-events: none;
}
.upload .upload-files footer {
  width: 100%;
  margin: 0 auto;
  height: 0;
}
.upload .upload-files footer .divider {
  margin: 0 auto;
  width: 0;
  border-top: solid 4px #d63031;
  text-align: center;
  overflow: hidden;
  transition: width .5s ease;
}
.upload .upload-files footer .divider span {
  display: inline-block;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  font-size: 12px;
  padding-top: 8px;
}
.upload .upload-files footer.hasFiles {
  height: auto;
}
.upload .upload-files footer.hasFiles .divider {
  width: 100%;
}
.upload .upload-files footer.hasFiles .divider span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: -webkit-transform .5s .5s ease;
  transition: transform .5s .5s ease;
  transition: transform .5s .5s ease, -webkit-transform .5s .5s ease;
}
.upload .upload-files footer .list-files {
  width: 320px;
  margin: 0 auto;
  margin-top: 15px;
  padding-left: 5px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 210px;
}
.upload .upload-files footer .list-files::-webkit-scrollbar-track {
  background-color: rgba(211, 211, 211, 0.25);
}
.upload .upload-files footer .list-files::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(211, 211, 211, 0.25);
}
.upload .upload-files footer .list-files::-webkit-scrollbar-thumb {
  background-color: rgba(77, 182, 172, 0.5);
}
.upload .upload-files footer .list-files .file {
  width: 300px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  -webkit-animation: fade .35s ease both;
          animation: fade .35s ease both;
}
.upload .upload-files footer .list-files .file .name {
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80px;
  text-align: left;
}
.upload .upload-files footer .list-files .file .progress {
  width: 175px;
  height: 5px;
  border: solid 1px lightgray;
  border-radius: 2px;
  background: linear-gradient(to left, rgba(214, 48, 49, 0.2), rgba(214, 48, 49, 0.8)) no-repeat;
  background-size: 100% 100%;
}
.upload .upload-files footer .list-files .file .progress.active {
  -webkit-animation: progress 30s linear;
          animation: progress 30s linear;
}
@-webkit-keyframes progress {
  from {
    background-size: 0 100%;
  }
  to {
    background-size: 100% 100%;
  }
}
@keyframes progress {
  from {
    background-size: 0 100%;
  }
  to {
    background-size: 100% 100%;
  }
}
.upload .upload-files footer .list-files .file .done {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #d63031;
  border-radius: 50%;
  margin-left: -10px;
  -webkit-transform: scale(0);
          transform: scale(0);
  position: relative;
}
.upload .upload-files footer .list-files .file .done:before {
  content: "View";
  position: absolute;
  top: 0;
  left: -5px;
  font-size: 24px;
  opacity: 0;
}
.upload .upload-files footer .list-files .file .done:hover:before {
  transition: all .25s ease;
  top: -30px;
  opacity: 1;
}
.upload .upload-files footer .list-files .file .done.anim {
  -webkit-animation: done1 .5s ease forwards;
          animation: done1 .5s ease forwards;
}
.upload .upload-files footer .list-files .file .done.anim #path {
  -webkit-animation: done2 2.5s .5s ease forwards;
          animation: done2 2.5s .5s ease forwards;
}
.upload .upload-files footer .list-files .file .done #path {
  stroke-dashoffset: 7387.59423828125;
  stroke-dasharray: 7387.59423828125 7387.59423828125;
  stroke: #fff;
  fill: transparent;
  stroke-width: 50px;
}
@-webkit-keyframes done2 {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes done2 {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes done1 {
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 1;
  }
}
@keyframes done1 {
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 1;
  }
}
.upload .upload-files footer .importar {
  outline: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  border: solid 1px #d63031;
  color: #d63031;
  background: transparent;
  padding: 8px 15px;
  font-size: 12px;
  border-radius: 4px;
  font-family: Roboto;
  line-height: 1;
  cursor: pointer;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  opacity: 0;
  visibility: hidden;
  margin-left: calc(50% - 40px);
}
.upload .upload-files footer .importar.active {
  transition: opacity .5s 1.5s ease, background, -webkit-transform .5s 1.5s ease;
  transition: transform .5s 1.5s ease, opacity .5s 1.5s ease, background;
  transition: transform .5s 1.5s ease, opacity .5s 1.5s ease, background, -webkit-transform .5s 1.5s ease;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.upload .upload-files footer .importar:hover {
  background: #d63031;
  color: #fff;
}
@-webkit-keyframes fadeup {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeup {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes faderight {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes faderight {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  to {
    opacity: 1;
  }
}
@keyframes fade {
  to {
    opacity: 1;
  }
}
@media (max-width: 400px) {
  .upload {
    width: 100%;
    height: 100%;
  }
}


/* image */

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* upload */
.image-previewer {
  display: block;
  width: 200px;
  height: 100px;
  background-color: #d63031;
}

.container .col-sm-8 input {
  display: block;
}

/*  */

/* channel */
.home__video-info a:hover {
  color: inherit;
}
/*  */
