<div class="left-navbar">
    <ul class="menu">
        <li class="menu-item"> <i class="fas fa-home"></i> Home</li>
        <li class="menu-item"> <i class="fas fa-fire"></i> Trending</li>
        <li class="menu-item"> <i class="fas fa-photo-video"></i> Subscription</li>
    </ul>
    <ul class="menu">
        <li class="menu-item"> <i class="fas fa-cog"></i> Settings</li>
        <li class="menu-item"> <i class="fas fa-question-circle"></i> Help</li>
        <li class="menu-item"> <i class="fas fa-comments"></i> Send feedbacks</li>
    </ul>
</div>