{% extends 'tube/base.html' %}

{% block content %}
    <section class="section-home">
        <h2 class="title">Recommended</h2>
        <div class="section-home__video">
            <div class="section-home__video-thumbnail">
                <img src="https://images.unsplash.com/photo-1506960002266-9cebbf4e9549?w=210&h=118&fit=crop" alt="">
            </div>
            <div class="home__video-info">
                <h3>Really Cool Vlog 8</h3>
                <div class="creator">ReallyCoolVlogs</div>
                <span class="views">252K views </span>
                <span class="upload-date"> &#8226; 1 day ago</span>
                <span class="settings-top"><i class="fas fa-ellipsis-v"></i></span>
            </div>
        </div>
        <div class="section-home__video">
            <div class="section-home__video-thumbnail">
                <img src="https://images.unsplash.com/photo-1506960002266-9cebbf4e9549?w=210&h=118&fit=crop" alt="">
            </div>
            <div class="home__video-info">
                <h3>Really Cool Vlog 8</h3>
                <div class="creator">ReallyCoolVlogs</div>
                <span class="views">252K views </span>
                <span class="upload-date"> &#8226; 1 day ago</span>
                <span class="settings-top"><i class="fas fa-ellipsis-v"></i></span>
            </div>
        </div>
        <div class="section-home__video">
            <div class="section-home__video-thumbnail">
                <img src="https://images.unsplash.com/photo-1506960002266-9cebbf4e9549?w=210&h=118&fit=crop" alt="">
            </div>
            <div class="home__video-info">
                <h3>Really Cool Vlog 8</h3>
                <div class="creator">ReallyCoolVlogs</div>
                <span class="views">252K views </span>
                <span class="upload-date"> &#8226; 1 day ago</span>
                <span class="settings-top"><i class="fas fa-ellipsis-v"></i></span>
            </div>
        </div>
        <div class="section-home__video">
            <div class="section-home__video-thumbnail">
                <img src="https://images.unsplash.com/photo-1506960002266-9cebbf4e9549?w=210&h=118&fit=crop" alt="">
            </div>
            <div class="home__video-info">
                <h3>Really Cool Vlog 8</h3>
                <div class="creator">ReallyCoolVlogs</div>
                <span class="views">252K views </span>
                <span class="upload-date"> &#8226; 1 day ago</span>
                <span class="settings-top"><i class="fas fa-ellipsis-v"></i></span>
            </div>
        </div>
        <div class="section-home__video">
            <div class="section-home__video-thumbnail">
                <img src="https://images.unsplash.com/photo-1506960002266-9cebbf4e9549?w=210&h=118&fit=crop" alt="">
            </div>
            <div class="home__video-info">
                <h3>Really Cool Vlog 8</h3>
                <div class="creator">ReallyCoolVlogs</div>
                <span class="views">252K views </span>
                <span class="upload-date"> &#8226; 1 day ago</span>
                <span class="settings-top"><i class="fas fa-ellipsis-v"></i></span>
            </div>
        </div>
        <div class="section-home__video">
            <div class="section-home__video-thumbnail">
                <img src="https://images.unsplash.com/photo-1506960002266-9cebbf4e9549?w=210&h=118&fit=crop" alt="">
            </div>
            <div class="home__video-info">
                <h3>Really Cool Vlog 8</h3>
                <div class="creator">ReallyCoolVlogs</div>
                <span class="views">252K views </span>
                <span class="upload-date"> &#8226; 1 day ago</span>
                <span class="settings-top"><i class="fas fa-ellipsis-v"></i></span>
            </div>
        </div>
    </section>

{% endblock%}