{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sign in/up</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="https://s.ytimg.com/yts/img/favicon-vfl8qSV2F.ico" type="image/x-icon">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'auth/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'auth/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'auth/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'auth/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'auth/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'auth/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'auth/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'auth/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'auth/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'auth/css/main.css' %}">
<!--===============================================================================================-->

</head>
<body>
	<div class="limiter">
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="font-size:1.2rem;">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
		<div class="container-login100">
			<div class="wrap-login100 p-t-90 p-b-30">
                {% block content %}{% endblock %}
			</div>
		</div>
	</div>
	
	
<!--===============================================================================================-->
	<script src="{% static 'auth/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'auth/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'auth/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'auth/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'auth/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'auth/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'auth/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'auth/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'auth/js/main.js' %}"></script>
</body>
</html>